services:
  todomailer:
    build:
      context: ../..
      dockerfile: ./examples/todomailer/Dockerfile
    ports:
      - "8080:8080"
    environment:
      - PORT=8080
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://jaeger:4318
    depends_on:
      - jaeger
  jaeger:
    image: jaegertracing/all-in-one:1.76.0
    ports:
      - "6831:6831/udp"
      - "16686:16686"
      - "4318:4318"