include:
  - docker-compose.deps.yml 

services:
  todomailer:
    build:
      context: ../..
      dockerfile: ./examples/todomailer/Dockerfile
    ports:
      - "8080:8080"
    environment:
      - PORT=8080
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://jaeger:4318
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_NAME=todomailerdb
      - VAULT_ADDR=http://vault:8200
      - VAULT_TOKEN=root-token
      - VAULT_MOUNT_PATH=secret
      - VAULT_SECRET_PATH=todomailer
    depends_on:
      jaeger:
        condition: service_started
      postgres:
        condition: service_healthy
      vault:
        condition: service_healthy
